body {
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-food-bank-illustration_23-2149323304.jpg?w=2000");
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */

  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  min-height: 100vh;
}

#nav {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  font-family: "Lucida Console", "Courier New", monospace;
}